[Desktop Entry]
Type=Application
Name=Gosh AppImage Manager
GenericName=AppImage Manager
Comment=Made by Gosh
Exec=gosh-appimage-manager %F
Icon=com.goshapps.AppImageManager
Terminal=false
StartupNotify=true
SingleMainWindow=true
Categories=System;
Keywords=appimage;integrate;update;linux;
MimeType=application/vnd.appimage;application/x-iso9660-appimage;application/x-appimage;
StartupWMClass=com.goshapps.AppImageManager
X-GNOME-SingleWindow=true
